<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/heroes">Heroes</a>
      </li>
      <li>
        <a routerLink="/pizza">Pizza</a>
      </li>
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLink="/nos">Nos</a>
      </li>
      <li>
        <a routerLink="/weather">Weather</a>
      </li>
      <li>
        <a routerLink="/restaurante">Restaurante</a>
      </li>
      <li>
        <a routerLink="/apple">Apple</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>&#169; All rights reserved.</p>
</footer>