<header>
    <nav>
        <img class="spotify-logo" src="/assets/img/spotify.png" alt="">
        <ul>
            <li><a>Premium</a></li>
            <li><a>Apoio</a></li>
            <li><a>Transferir</a></li>
            <li>|</li>
            <li class="spotify-li"><a>Regista-te</a></li>
            <li class="spotify-li"><a>Iniciar sessão</a></li>
        </ul>
    </nav>
</header>

<main class="flex">
    <div class="box">
        <h1>Termina em breve: 0.00 EUR por 3 meses de Premium</h1>
        <h2>Não percas a possibilidade de ouvir música sem anúncios, reprodução offline e muito mais. Cancela quando
            quiseres.
            <br>
            <br>
            A oferta termina em 2d: 13h:
        </h2>

        <button class="spotify-button">
            obtém 3 meses por 0.00 eur
        </button>
        <button class="spotify-button--second">
            ver planos
        </button>

        <p class="spotify-text--small">Apenas para o plano Individual. Depois, 6.99 EUR/mês. <u>Termos e condições
                aplicáveis</u>. Disponível apenas para os utilizadores que ainda não experimentaram o Premium. A oferta
            termina
            a 31/12/22.</p>
    </div>
    <div>
        <img class="spotify-img" src="https://i.scdn.co/image/ab678e040000ed3afa9a62710115e7085dd5c00f" alt="">
    </div>
</main>